p{
	color: black;
	font-size: large;
	font-family: sans-serif ;
}
body{
	float: initial;
	color: gold;
	padding: 200px;
}

h1{
	color: green;
}

img {
	float: right;
	width: 300px;
	height: 200px;
	margin: 0 12px;

}