nav{
	height: 75px;
	width: auto;
	background-color: royalblue;
}

header {
	height: 400px;
	width: auto;
	background-color: lightskyblue;
}

section{
	height: 675px;
	width: auto; /*100%-100px*/
	margin: 75px 100px;
	background-color: gray;
	display: box;
}

footer{
	height: 100px;
	width: auto;
	background-color: black;
}

section p {
	height: 200px;
	width: auto;
	background-color: khaki;
	margin-bottom: 75px;
}

#flex-container{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	}

.flex-item {
	margin-top: 20px;
	height: 25px;
	width: 80px;
	border-radius: 10px;
	font-size: large;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: red;
	color: white;
	text-decoration: unset;
	}

#flex-container-div{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	}

.flex-item-div {
	height: 400px;
	width: 48%;
	background-color: tomato;
	/*justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	{

	}
	*/
}