html {
	font-family: 'Helvetica';
	
}

div {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	height: 600px;
}

h1{
	margin-right: 200px;
	margin-left: 200px;
}
a {
	display: block;
	margin-left: 350px;
	margin-right: 350px;
	margin-top: 10px;
}

p{
	border: hotpink solid 2px;
	background-color: lavenderblush;
	width: 300px;
	height:auto;
	margin: auto;

}
strong {
	margin-left: 100px;
	margin-right: 100px;
}

span {
	background-color: yellow;
}