.section {
  height: 200px;
  background-color: green;
  margin: 20px;
}

#flex-container {
  margin: 20px;
  display: flex;
  border: 2px solid black;
  padding: 20px;
  height: 200px;
}

.flex-item {
  border-radius: 10px;
  background-color: purple;
  margin: 2px;
  width: 50px;
  height: 50px;
}
