/* Desired output: https://goo.gl/qvUwe8 */

body {
    font-family: Helvetica;
    text-align: center;
  }
  
  a {
    display: block;
  }
  
  p {
    border: 3px solid hotpink;
    display: inline-block;
    background-color: lavenderblush;
  }
  
  span {
    background-color: yellow;
  }