nav {
    height: 75px;
    width: 100%;
    background-color: royalblue;
}

header{
    height: 400px;
    width: 100%;
    background-color: lightskyblue;
}

section{
    height: 675px;
    background-color: gray;
    width: 100%-100px;
    margin: 75px 100px;
}

footer{
    height: 100px;
    width: 100%;
    background-color: black;
}

section p{
    background-color: khaki;
    height: 200px;
    margin-bottom: 75px;
}

#flex-container-div {
    display: flex;
    justify-content: space-between;
}

.flex-item-div{
    height: 400px;
    width: 48%;
    background-color: tomato;
}

#flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.flex-item {
    background-color: orangered;
    border-radius: 10px;
    height: 25px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    width: 80px;
}

